@model AirportManagementSystem.Models.Pilot

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pilot Registration</title>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<body style="text-align:center;background-image:url('/Style/admin1.jpg');background-repeat:no-repeat;background-size:cover">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>Pilot Registration Form</h1>
        <p style="font-size:30px;margin-right:-1200px;margin-top:-50px">
            @Html.ActionLink("Home", "Homepage")
        </p>
        <p style="font-size:30px;margin-right:-980px;margin-top:-63px">
            @Html.ActionLink("Login", "PilotLogin")
        </p>
        <div style="border:5px solid; border-color:lightpink;border-radius:initial;padding:20px;border-radius:25px;margin-left:470px;width:350px">
            @Html.ValidationSummary(true, "Your Details are Successfully saved", new { @class = "text-danger" })
            <div class="form-group" style="font-size:20px">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                <div style="font-size:15px; color:red">
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>

            </div><br />

            <div class="form-group" style="font-size:20px">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                <div style="font-size:15px; color:red">
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group" style="font-size:20px; margin-right:-50px">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                <div style="font-size:15px; color:red">
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group" style="font-size:20px;margin-left:-40px">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Gender", new List<SelectListItem>
                {
                     new SelectListItem{Text = "Male", Value="Male" },
                     new SelectListItem{Text = "Female", Value="Female" },
                     new SelectListItem{Text = "Others", Value="Others" },
                }, "Select Gender")
                <div style="font-size:15px; color:red">
                     @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group" style="font-size:20px;margin-left:-50px">
                @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                <div style="font-size:15px;color:red">
                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group" style="font-size:20px;margin-left:20px">
                @Html.LabelFor(model => model.PilotID, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.PilotID, new { htmlAttributes = new { @class = "form-control" } })
                <div style="font-size:15px; color:red">
                    @Html.ValidationMessageFor(model => model.PilotID, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group" style="font-size:20px">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                <div style="font-size:15px; color:red">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
 }


</body>
</html>
